<html>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<title>uRiego</title>


<style>
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn2 {background-color: #008CBA;} /* Blue */
.btn_stop {background-color: #d66;} /* Red */
.btn_status {background-color: #666;} /* Gray */

</style>

<body>

  <script type="module">
    import { createApp } from '/static/petite-vue-module.min.js'
    var host = '@=SERVER_ADDRESS=@'
    var auth_token = '@=AUTH_TOKEN=@'

    async function getAPI(endpoint){
        let url = host + '/' + endpoint;
        let headers =  {
            'Content-type': 'text/plain'
        };
        let request = {
            method:"GET",
            headers
        };
        let page = await fetch(url,request);
        let json = await page.json();
        console.log(json);
        return json
    }

    async function postAPI(endpoint, payload){
        let url = host + '/' + endpoint;
        let data = {"auth_token": auth_token, "payload":payload}
        let headers =  {
            'Content-type': 'text/plain'
        };
        //console.log(headers)
        console.log(data)
        let request = {
            method:"POST",
            body:JSON.stringify(data),
            headers
        };
        let page = await fetch(url,request);
        let json = await page.json();
        console.log(json);
        return json
    }

    createApp({
      wifiCfg: null,
      arribaMin: 10,
      abajoMin: 20,
      status: {running:{}, queue:[]},
      refresh: false,
      async statusRefresh(){
        this.refresh = ! this.refresh
        this.getStatus(true)
      },
      async getStatus(repeat){
        this.status['running'] = await getAPI('running')
        this.status['queue'] = await getAPI('manual')
        if(repeat && this.refresh){
          let self = this
          setTimeout(function (){self.getStatus(repeat)}, 5000)
        }
      },
      async postStop(){
        await postAPI('stop', {stop_all:true})
        this.getStatus(false)
      },
      async postManual(zone, duration){
        //duration is in seconds, convert minutes to seconds
        await postAPI('manual', [[zone, {duration: parseFloat(duration) * 60
                                //, in_parallel:false
                              }]])
        this.getStatus(false)
      },
      async setWifiCfg(){
        this.wifiCfg = await postAPI('wificfg', this.wifiCfg)
      },
      async getWifiCfg(){
        this.wifiCfg = await getAPI('wificfg?auth_token=' + auth_token)
      },
      toTime(seconds){
        let min = Math.floor(seconds/60)
        let sec = seconds%60
        let time = ''
        if(min){
          time = min + ' min'
          if(sec)
            time = time + ' '
        }
        if(sec)
          time = time + sec + ' sec'
        return  time
      },
      async mounted(){
        //await this.getWifiCfg()
      },
    }).mount()
  </script>

  <div v-scope @vue:mounted='mounted'>
    <p><button id='arriba'  class='btn' @click='postManual("arriba", arribaMin)'>Arriba</button>
      <input type='text' id='minArriba' v-model='arribaMin'/> min </p>
    <p><button id='abajo'  class='btn btn2' @click='postManual("abajo", abajoMin)'>Abajo</button>
      <input type='text' id='minAbajo' v-model='abajoMin'/> min </p>
    <p><button id='stop' class='btn btn_stop' @click='postStop()'>STOP</button></p>
    <p><button id='status' class='btn btn_status' @click='statusRefresh()'>Refresh</button> {{refresh}}</p>
      <p>Running:
        <ul id="runningList">
          <li v-for="remaining, name in status.running">
            {{ name }}: {{ toTime(remaining) }}
          </li>
        </ul>
      </p>
      <p>Queue:
        <ul id="queueList">
          <li v-for="item in status.queue.reverse()">
            {{ item[0] }}: {{ toTime(item[1]['duration']) }}
          </li>
        </ul>
      </p>
    <hr/>
    <h2>Wifi Config</h2>
    <div v-if='wifiCfg'>
    <p><input type='checkbox' id='is_ap' v-model='wifiCfg.is_ap'/> is AP </p>
    <p><input type='input' id='client_essid' v-model='wifiCfg.client_essid'/> client_essid </p>
    <p><input type='input' id='client_password' v-model='wifiCfg.client_password'/> client_password </p>
    <p><input type='input' id='ap_essid' v-model='wifiCfg.ap_essid'/> ap_essid </p>
    <p><input type='input' id='ap_password' v-model='wifiCfg.ap_password'/> ap_password </p>
    <p><input type='int' id='ap_channel' v-model='wifiCfg.ap_channel'/> ap_channel </p>
    <p><input type='checkbox' id='reboot' v-model='wifiCfg.reboot'/> Reboot </p>
    </div>
    <p><button id='setWifiCfg' class='btn btn_stop' @click='setWifiCfg()'>Set</button>
    <button id='getWifiCfg' class='btn' @click='getWifiCfg()'>Get</button>
    </p>
    <p/>
  </div>

</body>



</html>

