<html>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<title>uRiego</title>


<style>
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn2 {background-color: #008CBA;} /* Blue */
.btn_stop {background-color: #d66;} /* Red */
.btn_status {background-color: #666;} /* Gray */

</style>

<body>

    <script src='/static/petite-vue.js' defer init></script>
    <div v-scope='{ self :
                    {arriba_min: 10, abajo_min: 20 , status: {running:{}, queue:[]}}
                  }'>
        <p><button id='arriba'  class='btn' @click='postManual(self, "arriba", self.arriba_min)'>Arriba</button>
          <input type='text' id='minArriba' v-model='self.arriba_min'/> min </p>
        <p><button id='abajo'  class='btn btn2' @click='postManual(self, "abajo", self.abajo_min)'>Abajo</button>
          <input type='text' id='minAbajo' v-model='self.abajo_min'/> min </p>
        <p><button id='stop' class='btn btn_stop' @click='postStop(self)'>STOP</button></p>
        <p><button id='status' class='btn btn_status' @click='getStatus(self)'>Status</button></p>
          <p>Running:
            <ul id="runningList">
              <li v-for="remaining, name in self.status.running">
                {{ name }}: {{ remaining/60 }} min
              </li>
            </ul>
          </p>
          <p>Queue:
            <ul id="queueList">
              <li v-for="item in self.status.queue.reverse()">
                {{ item[0] }}: {{ item[1]['duration']/60 }} min
              </li>
            </ul>
          </p>
    </div>

</body>

<script>
  var host = ''

  async function getAPI(endpoint){
      let url = host + '/' + endpoint;
      let headers =  {
          'Content-type': 'text/plain'
      };
      let request = {
          method:"GET",
          headers
      };
      let page = await fetch(url,request);
      let json = await page.json();
      console.log(json);
      return json
  }

  async function postAPI(endpoint, payload){
      let url = host + '/' + endpoint;
      let data = {"auth_token":"1234", "payload":payload}
      let headers =  {
          'Content-type': 'text/plain'
      };
      //console.log(headers)
      console.log(data)
      let request = {
          method:"POST",
          body:JSON.stringify(data),
          headers
      };
      let page = await fetch(url,request);
      let json = await page.json();
      console.log(json);
      return json
  }

  async function postManual(self, zone, duration){
      //duration is in seconds, convert minutes to seconds
      postAPI('manual', [[zone, {duration: parseFloat(duration) * 60
                          //, in_parallel:false
                          }]])
      getStatus(self)
  }

  async function postStop(self){
      await postAPI('stop', {stop_all:true})
      getStatus(self)
  }

  async function getStatus(self){
      self.status['running'] = await getAPI('running')
      self.status['queue'] = await getAPI('manual')
  }

</script>
</html>

