<html>
<meta name='viewport' content='width=device-width, initial-scale=2.0'> 

<style>
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn2 {background-color: #008CBA;} /* Blue */
.btn_stop {background-color: #d66;} /* Red */
.btn_status {background-color: #666;} /* Gray */

</style>

<body>

    <script src='/static/petite-vue.js' defer init></script>
    <div v-scope='{ count: 0, arriba_min: 10, abajo_min: 20 , status: {running:{}}}'>
        <p><button id='arriba'  class='btn' @click='postManual("arriba", arriba_min)'>Arriba</button>
          <input type='text' id='minArriba' v-model='arriba_min'/> min </p>
        <p><button id='abajo'  class='btn btn2' @click='postManual("abajo", abajo_min)'>Abajo</button>
          <input type='text' id='minAbajo' v-model='abajo_min'/> min </p>
        <p><button id='stop' class='btn btn_stop' @click='postAPI("stop", {stop_all:true})'>STOP</button></p>
        <p><button id='status' class='btn btn_status' @click='getRunning(status)'>Status</button>
          {{status}}</p>
    </div>

</body>

<script>

  async function postAPI(endpoint, payload){
      let url = '/' + endpoint;
      let data = {"auth_token":"1234", "payload":payload}
      let headers =  {
          'Content-type': 'text/plain'
      };
      //console.log(headers)
      console.log(data)
      let request = {
          method:"POST",
          body:JSON.stringify(data),
          headers
      };
      let page = await fetch(url,request);
      let json = await page.json();
      console.log(json);
      return json
  }

  async function postManual(zone, duration){
      //duration is in seconds, convert minutes to seconds
      postAPI('manual', {[zone]:{duration: parseInt(duration) * 60}})
  }

  async function getRunning(status){
      status['running'] = await postAPI('running', '')
  }

</script>
</html>

